/* about */

#about {
    text-align-last: center;
    padding: 5vh 10vw;
}

.about-slogan {
    font-weight: 600;
}

/* games */

#games {
    background-color: #111111;
    padding: 2.5vh 0 2.5vh 0;
}

.list-games {
    color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1%;
}

.game-item {
    padding: 2.5% 5% 5% 5%;
}

.game-subtitle {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.game-photo {
    margin-top: 2.5vh;
    width: 100%;
    transition: all 0.5s;
}

.game-photo:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.dark-row {
    background: #212121;
}

/* order */

.form {
    display: flex;
    justify-content: center;
}

/* join */

.social-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.social-btn {
    margin: 2.5vh 0;
    width: 100%;
}

/* responsive */

@media (max-width: 960px) {

    .list-games {
        grid-template-columns: repeat(2, 1fr);
    }

    .form {
        display: none;
    }

}

@media (min-width: 960px) {

    .btn-form {
        display: none;
    }

}

@media (max-width: 480px) {

    .list-games {
        grid-template-columns: repeat(1, 1fr);
    }

}