/* ------------------------------ fonts ------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

@font-face {
    font-family: 'Lucida Blackletter';
    src: url('/assets/fonts/LucidaBlackletter.ttf');
}

/* ------------------------------ global ------------------------------ */

:root {
    --font-1: "Noto Serif";
    --font-2: "Eczar";
    --font-3: "Cinzel";
    --font-4: "Lucida Blackletter";

    --color-1: #111111;
    --color-9: #F5F5F5;

    --font-size-1: 12px;
    --font-size-2: 20px;
    --font-size-3: 24px;
    --font-size-4: 28px;
    --font-size-5: 32px;
    --font-size-6: 40px;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-1), serif;
    background: url(/assets/backgrounds/leather-bg-75.jpg);
    color: var(--color-9);
}

section {
    scroll-margin: 5vh;
    padding: 5%;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 2%;
    font-family: var(--font-2);
    font-size: var(--font-size-5);
    font-weight: 600;
    line-height: 125%;
    text-align: center;
}

a {
    color: #0080FF;
}

#a-propos, #commander, #nous-rejoindre, #presentation, #acheter {
    background: var(--color-9);
    background-size: 70%;
    color: var(--color-1);
}

.scroll-anchor {
    position: fixed;
    top: 90%;
    left: 95%;
    font-size: var(--font-size-6);
    color: inherit;
    text-decoration: inherit;
}

/* ------------------------------ main-buttons ------------------------------ */

.primary-button {
    margin: 3% 20% 0 20%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--color-1);
    color: var(--color-9);
    font-size: var(--font-size-3);
    font-weight: 600;
    border-radius: 10px;
    text-decoration: inherit;
    transition: 1s;
}

.primary-button:hover {
    background: var(--color-9);
    color: var(--color-1);
    transition: 1s;
}

.primary-button-dark {
    background: var(--color-9);
    color: var(--color-1);
}

.primary-button-dark:hover {
    background: var(--color-1);
    color: var(--color-9);
}

/* ------------------------------ separators ------------------------------ */

.separator-1 {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
}

.separator-2 {
    margin: 10% 0;
    width: 100%;
}

/* ------------------------------ forms ------------------------------ */

.form-link {
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
}

/* ------------------------------ nav ------------------------------ */

nav {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: var(--color-1);
}

.nav-title {
    margin-right: 10%;
    color: var(--color-9);
    font-family: var(--font-4);
    font-size: var(--font-size-5);
    font-weight: initial;
    text-decoration: inherit;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-links a {
    padding: 1% 2%;
    align-self: center;
    color: var(--color-9);
    font-weight: 600;
    text-decoration: inherit;
    transition: 1s;
}

.nav-links a:hover {
    background: var(--color-9);
    color: var(--color-1);
    transition: 1s;
}

.nav-link-myths-and-legends {
    font-family: var(--font-3);
}

/* ------------------------------ header ------------------------------ */

.header-banner {
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ------------------------------ footer ------------------------------ */

footer {
    padding: 2% 1.5% 1.7% 1.5%;
    font-size: var(--font-size-1);
    text-align: center;
}

footer p {
    padding: .1%;
}

footer a {
    color: inherit;
    font-weight: 600;
    text-decoration: inherit;
    text-transform: uppercase;
}

/* ------------------------------ responsive ------------------------------ */

@media (max-width: 960px) {

    nav {
        padding: 2%;
        justify-content: center;
    }

    .nav-title {
        margin: 0;
    }

    .nav-links {
        display: none;
    }

    .header-banner {
        height: 30vh;
    }

}

@media (min-width: 720px) {

    .separator-desktop {
        display: initial;
    }

    .separator-mobile {
        display: none;
    }

    .form-button {
        display: none;
    }

}

@media (max-width: 720px) {

    .separator-desktop {
        display: none;
    }

    .separator-mobile {
        display: initial;
    }

    .form-link {
        display: none;
    }

    .form-button {
        display: inherit;
    }

    .form {
        display: none;
    }

}

@media (max-width: 480px) {

    body {
        font-size: 10px;
    }

    .header-banner {
        height: 20vh;
    }

    :root {
        --font-size-1: 8px;
        --font-size-2: 14px;
        --font-size-3: 16px;
        --font-size-4: 20px;
        --font-size-5: 22px;
        --font-size-6: 28px;
    }

}
